@import config

.title
	font-size: 6.4rem
	font-weight: 500
	color: $text-color
	position: absolute
	top: 10rem
	left: 10rem
	z-index: 1000

.container
	display: flex
	flex-wrap: nowrap
	width: 100%
	height: 100%
	// padding: 10rem
	position: relative
	background-color: $bg-color-1
	overflow-x: scroll
	overflow-y: hidden
	
.case
	flex-shrink: 0
	width: 100%
	height: 100%
	// padding: 10rem
	position: relative
	scroll-snap-align: end
	overflow: hidden

.mockup
	width: 101.7rem
	height: 57.6rem
	object-fit: cover
	position: absolute
	top: 13.7rem
	right: 7.9rem
	z-index: 4

.card
	display: flex
	// display: none
	flex-direction: column
	gap: 2rem
	width: 66.8rem
	height: 43.2rem
	padding: 2rem
	padding-right: 6rem
	background-color: rgba(#405950, .4)
	backdrop-filter: blur(15px)
	background-size: cover
	border: 0.5px solid rgba(#405950, .5)
	box-shadow: inset 1px 1px 15px rgba(#354a42, .2)

	position: absolute
	top: 30rem
	left: 10rem

	z-index: 20

	&__title
		margin: 0
		font-size: 3.2rem
		font-weight: 500
		line-height: 4rem
	&__text
		line-height: 2.6rem
		font-weight: 400
	&__buttons
		display: flex
		width: 11.2rem
		height: 4.8rem
		gap: 1.6rem

.btn
	width: 4.8rem
	height: 4.8rem
	border: 1px solid $text-color
	background-repeat: no-repeat
	background-position: center
	&-prev
		background-image: url(../images/icon/left.svg)
	&-next
		background-image: url(../images/icon/right.svg)

.tabs
	display: flex
	width: 100%
	&__item
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 9.3rem
		padding: 2rem
		border-color: rgba(#002517, .2)
		border: 1px solid rgba(#e2e2e2, .5)
	& > &__item
		flex: 1 1 auto
	&__item + &__item
		border-left: none
	&__title
		font-size: 2rem
		font-weight: 500
	&__text
		font-size: 1.3rem

.circle
	display: block
	width: var(--r)
	height: var(--r)
	background-color: rgba(#405950, .4)
	backdrop-filter: blur(15px)
	box-shadow: 29px 54px 56px rgba(36, 52, 102, 0.25), inset 2px 2px 2px rgba(84, 101, 157, 0.1)
	border-radius: 50%
	position: absolute
	top: var(--top)
	right: var(--right)
	z-index: var(--zindex)

	&-left
		left: var(--left)
	&-purpur
		background-color: rgba(#8D68B1, .4)



